# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=paxcanina_db
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# SQL Init
EXECUTE_SQL_DDL=create
EXECUTE_SQL_INSERT=always
SQL_FILE_NAME=mysql

# Upload folders
PUBLIC_UPLOAD_FOLDER=./uploads/public
PRIVATE_UPLOAD_FOLDER=./uploads/private
FILE_DEFAULT_ACCEPTED_TYPES=image/jpeg,image/png,image/webp

# JWT
JWT_SECRET_BASE64=your_base64_jwt_secret
